.redux-container-repeater {
    padding: 15px 20px;
    margin-bottom: 7px;
    padding-top: 0
}

.redux-container-repeater h4 {
    margin: 5px 0px 0px 0px
}

.redux-container-repeater h4:first-child {
    margin-top: 0px
}

.redux-container-repeater .description {
    margin: 5px 0 5px 0px
}

.redux-container-repeater .fusionredux-repeater-accordion {
    width: 100%
}

.redux-container-repeater .fusionredux-repeater-accordion .ui-state-focus {
    outline: none
}

.redux-container-repeater .fusionredux-repeater-accordion-repeater {
    margin-bottom: 10px
}

.redux-container-repeater .fusionredux-repeater-accordion-repeater>div {
    border: 1px solid #dfdfdf !important;
    border-radius: 0 !important;
    margin-top: 0px !important;
    padding: 10px
}

.redux-container-repeater .fusionredux-repeater-accordion-repeater h3.ui-accordion-header {
    border: 1px solid #dfdfdf;
    cursor: move;
    font-weight: bold;
    padding: 0 10px;
    height: 40px;
    line-height: 38px;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: left;
    margin-bottom: 0;
    padding-left: 25px;
}

.redux-container-repeater .fusionredux-repeaters-add {
    float: right
}

.redux-container-repeater .fusionredux-repeaters-add:after {
    clear: both
}

.redux-container-repeater .fusionredux-repeaters-remove {
    color: #ef521d !important;
    float: right
}

.redux-container-repeater .fusionredux-repeaters-remove:after {
    clear: both
}

.redux-container-repeater .fusionredux-repeater-header {
    font-weight: bold
}

.redux-container-repeater .fusionredux_repeaters_add_remove {
    margin-bottom: 10px
}

.redux-container-repeater .fusionredux-field-container {
    padding: 0 0 10px 0
}

.redux-container-repeater .fusionredux-field-container:last-child {
    padding-bottom: 0
}

.redux-container-repeater .ui-accordion .ui-accordion-content {
    padding: 1em
}

.redux-container-repeater .fusionredux-container-sorter {
    margin-right: 0 !important
}

#poststuff .redux-container-repeater h3 {
    padding: 0;
    cursor: move !important;
    line-height: 40px
}